CustomSBProject/Resources/WSDL/MainPS.wsdl

<wsdl:definitions name="MainPS" targetNamespace="http://xmlns.oracle.com/TestOSBApplication/CustomSBProject/MainPS" xmlns:tns="http://xmlns.oracle.com/TestOSBApplication/CustomSBProject/MainPS" xmlns:inp1="http://TargetNamespace.com/GET_CustomerBIZ_GETCustomerBIZOperation_request" xmlns:inp2="http://TargetNamespace.com/MainPS_CustomerPSOperation_response" xmlns:inp3="http://TargetNamespace.com/GET_ProductBIZ_GETProductBIZOperation_request" xmlns:inp4="http://TargetNamespace.com/MainPS_ProductPSOperation_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp5="http://TargetNamespace.com/MainPS_OrderrPSOperation_request" xmlns:inp6="http://TargetNamespace.com/MainPS_OrderrPSOperation_response" xmlns:inp7="http://TargetNamespace.com/MainPS_OrderrDetailPSOperation_request" xmlns:inp8="http://TargetNamespace.com/MainPS_OrderrDetailPSOperation_response">
  <plnk:partnerLinkType name="MainPS">
    <plnk:role name="MainPSProvider" portType="tns:MainPS_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://TargetNamespace.com/GET_CustomerBIZ_GETCustomerBIZOperation_request" schemaLocation="../Schema/customer_request_biz.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://TargetNamespace.com/MainPS_CustomerPSOperation_response" schemaLocation="../Schema/customer_response_ps.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://TargetNamespace.com/GET_ProductBIZ_GETProductBIZOperation_request" schemaLocation="../Schema/product_request_biz.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://TargetNamespace.com/MainPS_ProductPSOperation_response" schemaLocation="../Schema/product_response_ps.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://TargetNamespace.com/MainPS_OrderrPSOperation_request" schemaLocation="../Schema/orderr_request_ps.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://TargetNamespace.com/MainPS_OrderrPSOperation_response" schemaLocation="../Schema/orderr_response_ps.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://TargetNamespace.com/MainPS_OrderrDetailPSOperation_request" schemaLocation="../Schema/orderrdetail_request_ps.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://TargetNamespace.com/MainPS_OrderrDetailPSOperation_response" schemaLocation="../Schema/orderrdetail_response_ps.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomerPSOperation_inputMessage">
    <wsdl:part name="request" element="inp1:Root-Element"/>
  </wsdl:message>
  <wsdl:message name="CustomerPSOperation_outputMessage">
    <wsdl:part name="reply" element="inp2:Root-Element"/>
  </wsdl:message>
  <wsdl:message name="ProductPSOperation_inputMessage">
    <wsdl:part name="request" element="inp3:Root-Element"/>
  </wsdl:message>
  <wsdl:message name="ProductPSOperation_outputMessage">
    <wsdl:part name="reply" element="inp4:Root-Element"/>
  </wsdl:message>
  <wsdl:message name="OrderrPSOperation_inputMessage">
    <wsdl:part name="request" element="inp5:Root-Element"/>
  </wsdl:message>
  <wsdl:message name="OrderrPSOperation_outputMessage">
    <wsdl:part name="reply" element="inp6:Root-Element"/>
  </wsdl:message>
  <wsdl:message name="OrderrDetailPSOperation_inputMessage">
    <wsdl:part name="request" element="inp7:Root-Element"/>
  </wsdl:message>
  <wsdl:message name="OrderrDetailPSOperation_outputMessage">
    <wsdl:part name="reply" element="inp8:Root-Element"/>
  </wsdl:message>
  <wsdl:portType name="MainPS_ptt">
    <wsdl:operation name="CustomerPSOperation">
      <wsdl:input message="tns:CustomerPSOperation_inputMessage"/>
      <wsdl:output message="tns:CustomerPSOperation_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ProductPSOperation">
      <wsdl:input message="tns:ProductPSOperation_inputMessage"/>
      <wsdl:output message="tns:ProductPSOperation_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="OrderrPSOperation">
      <wsdl:input message="tns:OrderrPSOperation_inputMessage"/>
      <wsdl:output message="tns:OrderrPSOperation_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="OrderrDetailPSOperation">
      <wsdl:input message="tns:OrderrDetailPSOperation_inputMessage"/>
      <wsdl:output message="tns:OrderrDetailPSOperation_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainPS_ptt-binding" type="tns:MainPS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CustomerPSOperation">
      <soap:operation soapAction="CustomerPSOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductPSOperation">
      <soap:operation soapAction="ProductPSOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderrPSOperation">
      <soap:operation soapAction="OrderrPSOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderrDetailPSOperation">
      <soap:operation soapAction="OrderrDetailPSOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>